p {
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}
.video-title {
  font-size: 18px;
  font-weight: bold;
  width: 300px;
  line-height: 24px;
  margin-bottom: 5px;
}

.video-stats
{
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 22px;
}

.video-author {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 22px;
}

.video-description {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 100px;
  width: 280px;
}

.advert{
  font-size: 14px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  padding: 18px;
  background-color: rgb(227, 65, 64);
  text-align: center;
}

.span-example:hover{
  text-decoration: underline;
  cursor:pointer;
}
